.default-filter{
    background: none;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.active-filter, .default-filter:hover, .default-filter:active{
    background: #FDBC0B;/*fallback*/
    background: radial-gradient(100% 1859.5% at 6.5% 0%, #FDBC0B 0%, #F08718 100%);
    border: 2px solid rgba(255, 255, 255, 0);
    color: #0F1116;
}

.main-faq-container{
    background: #e9e9e9;
    .questions-container{
        z-index: 4;
        position: relative;
    }
    .faq-logo{
        @media (min-width: 992px) {
            width: 420px;
            height: 420px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: 0;
        z-index: 1;
        opacity: 30%;
        width: 430px;
        height: 430px;
    }
}


.faq-block{
    @media (min-width: 992px) {
        width: 50% ;
    }
    width: 80% ;
    .faq-question{
        background: #f8f8f8;
        color: #000;
        border: 2px solid #ecebeb;
        padding: 10px;
        border-radius: 1px;
        padding-right: 30px;
        font-size: 20px;
    }
    .faq-question:hover{
        border-color: #FD960B;
        box-shadow: 0 0 20px #FD960B;
    }
    .faq-question-icon{
        top: 50%;
        transform: rotate(180deg) translateY(50%);
        right: 10px;
    }
    .faq-question-icon .ver, .faq-question-icon .hor{
        fill: #F08718;
    }

    &.active .faq-question, &.active .faq-question:hover{
        border: none;
        //border-radius: 5px 5px 0 0;
        //background: linear-gradient(90deg, #FDBC0B 0%, #F08718 100%);
        font-weight: 700;
        box-shadow: none;
        padding: 12px;
    }
    &.active .faq-question .faq-question-icon, &.active .faq-question:hover .faq-question-icon{
        transform: rotate(0deg) translateY(-50%);
    }

    .faq-answer{
        height: 0;
        transition: height 0.3s;
        padding: 0 10px;
        overflow: hidden;
        background: #f9f9f9;
        margin-left: 20px;
        margin-top: 1px;
    }

    &.active .faq-answer{
        height: auto;
        padding: 10px;
    }
}

