footer{
  background: rgb(33,30,30);
  background: radial-gradient(circle, rgba(73,69,70,1) 0%, rgba(0,0,0,1) 100%);
  padding-top: 50px;
  padding-bottom: 10px;
  align-items: end;
  justify-content: space-around;
  .logo_breadcrumbs{
    a{
      text-decoration: none;
    }
  }
  .socials{
    @media (min-width:978px){
      justify-content: end;
    }
    justify-content: center;
  }
}