footer{
  background: rgb(33,30,30);
  background: radial-gradient(circle, #494546 0%, #000000 100%);
  padding-top: 50px;
  padding-bottom: 10px;
  align-items: end;
  justify-content: space-around;
  @media (max-width:978px){
    .main-content > *{
      width: 100%;
    }
  }

  .logo_breadcrumbs{
    a{
      text-decoration: none;
    }
  }
  .socials{
    @media (min-width:978px){
      justify-content: end;
    }
    justify-content: center;
  }
}