@use "reset";
@import "config";
@import "font";
@import "components/menu";
@import "menu";

@import "components/modal";

:root {
  --header-height-mobile: 50px;
  --header-height: 130px;
  --nav-width: 240px;
  --white-color: #fff;
}

body{
  font-family: 'Inter', sans-serif;
  // background: $primary;
  //background-repeat: no-repeat;
  //background-position: center;
}

.primary-gradient{
  background: linear-gradient(90deg, #F1623A 15%, #685C90 100%);
  background-color: rgb(237,98,61);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.black-gradient{
  background: #494647;
  background:linear-gradient(90deg, #494647 0%, #3f3c3d 53%, #302e2e 100%);
}

.main-content{
  max-width: 1180px;
  margin: auto;
}

.arrow-container {
  height: 150px;
}

.arrow {
  animation: moveDown 2s infinite;
}


@keyframes moveDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(50px);
  }
  100% {
      transform: translateY(0);
  }
}

// .main-home-container{
//   background-image: url('../img/main-bg.jpg');
// }

.main-button {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 14px;
  border-radius:9px;
  margin: 10px;
  text-decoration: none;
  min-width: 160px;
  width: max-content;
  display: inline-block;
  transform: skewX(-20deg);
  &:hover{
    // background-size: 200% auto;
    animation: colorMove 1s linear ease-in;
  }
  .button-slanted-content {
    transform: skewX(20deg);
    display: inline-block;
  }
}

@keyframes colorMove {
  0% {
    background: linear-gradient(90deg, #F1623A 15%, #685C90 100%);
  }
  50% {
    background: linear-gradient(90deg, #685C90 15%, #F1623A 100%);
  }
  100% {
    background: linear-gradient(90deg, #685C90 15%, #F1623A 100%);
  }
}

.socials{
  display: flex;
  .social-icon:hover{
    img{
      filter: invert(1);
    }
  }
  .social-icon.facebook:hover{
    background: #066cfa;
  }
  .social-icon.instagram:hover{
    background: #ad35aa;
  }
  .social-icon.twitter:hover{
    background: #22a3ee;
  }
  .social-icon{
    border-radius: 50%;
    background: #fff;
    padding: 5px;
    margin: 5px;
    img{
      width: 15px;
      height: 15px;
    }
  }
}

.injury-bar-container{
  @media (min-width:978px){
    margin-top: 20px;
    gap: 10px;
  }
  margin-top: 5px;
  display: grid;
  gap: 2px;
  grid-template-columns: auto 1fr;

  img{
    @media (min-width:978px){
      width: 80px;
    }
    width: 50px;
  }

  .injury-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 9px;
    .risk-bar{
      cursor: pointer;
      height: 40px;
      transition: transform .2s; /* Animation */
      &:hover{
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        box-shadow: 0 0 1px 1px #0000002b;
      }
    }
    .risk-bar-text{
      margin-top: 15px;
    }
  }

}


.game-details{
  @media (max-width:978px){
    width: 100%;
  }
}
.game-analysis-text{
  @media (max-width:978px){
    margin: 0 !important;
    width: 80%;
    text-align: center;
  }
}

.low-risk{
  background: #0df92e;
}
.medium-risk{
  background: #fff45f;
}
.high-risk{
  background: #cf5428;
}
.critical-risk{
  background: #b82025;
}

.divider{
  border-top: 1px solid #fff;
  display: block;
}

.injury-stats{
  @media (min-width:978px){
    gap: 30px;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
}


@import "timeline/players";
@import "timeline";


.boxes{
  @media (min-width:978px){
    padding: 60px;
  }
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  border: 4px solid rgba(255,255,255,.5);
}

.cursor-pointer {
  cursor: pointer;
}

.border-radius-boxes{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.match-preview{
  background: #514e4f;
}
.homepage-content{
  background: #2a232f;
  background-size: cover;
}
.main-faq-container{
  background: #c5c5c5 url('../img/shapes-bg.svg') no-repeat;
  background-size: cover;
}

.article__row{
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  .article-box{
      .img-box{
          position: relative;
          width: 100%;
          .image-overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            opacity: 0.8;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            background: rgb(238,96,58);
            background: linear-gradient(0deg, rgba(238,96,58,1) 0%, rgba(220,92,61,1) 50%, rgba(92,112,143,0) 100%);
        }
      }
  }
}



.main-home-container {
  // background: url('../img/homepage.webm') no-repeat;
  // z-index: 2;
  // padding-bottom: 463px !important;
  // background-size: cover;
  // background-position: bottom;

  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  z-index: 2;
  clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 88%, 80% 100%, 50% 100%, 23% 100%, 0 88%, 0 0, 31% 0);

  
  /* Styling the video */
  #bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  /* Optional: Add a dark overlay to improve text readability */
  .main-home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 0;
  }

}
@media (max-width:97px){
  .section-label{
    font-size: 9px;
  }
}
.homepage-content {
  @media (min-width:978px){
    margin-top: -120px;
  }
  padding-top: 400px !important;

  .content{
    padding-top: 250px;
  }
}

.about-us{
  margin-top: 5%;
}


.bg-page{
  z-index: 2;
  background-size: cover;
  background-position: bottom;
}


@import "footer";