.main-menu {
  @media (min-width:978px){
    justify-content: center;
    padding: 0;
    flex-direction: row;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 2px;
  .logo {
    @media (min-width:978px){
      order: 2;
      width: 125px;
    }
    order: 0;
    text-align: center;
    width: 70px;
  }
  .menu-item {
    @media (min-width:978px){
      padding: 24px;
    }
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
  }
  .menu-item:nth-of-type(n+3) {
    order: 2;
  }
  .socials{
    order: 3;
  }
}


@media all and (max-width: 800px) {
  .menu-item {
    text-align: center;
    //border-bottom: 1px solid #111;
  }
}
