.main-menu {
  @media (min-width:998px){
    justify-content: center;
    padding: 0;
    flex-direction: row;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 2px;
  .logo {
    @media (min-width:998px){
      order: 2;
      width: 125px;
    }
    order: 3;
    text-align: center;
    width: 70px;
  }
  .menu-item {
    @media (min-width:998px){
      padding: 24px;
    }
    color: #fff;
    text-decoration: none;
  }
  .menu-item:nth-of-type(n+3) {
    order: 2;
  }
  .socials{
    order: 3;
    @media (max-width:998px){
      display: none !important;
    }
  }
}


@media all and (max-width: 998px) {
  .menu-item {
    text-align: center;
  }
  .users-buttons{
    order: inherit !important;
    min-width: 87px;
  }
  .toggle-menu{
    order: 4;
  }
}
