.slider-step-container{
  @media (min-width:978px){
    background-image: url('../img/timeline-grey-bg.png');
  }
  background-image: url('../img/timeline-grey-bg-mobile.png');
}

.outer-container{
  @media (max-width:978px){
    padding: 10px !important;
  }
}


.slider-container{
  @media (min-width:978px){
    background-image: url('../img/timeline-bg.png');
  }
  background-image: url('../img/timeline-bg-mobile.png');
}

.matches-container{
  @media (min-width:978px){
    width: 94%;
    height: 470px;
  }
  @media (min-width:1160px){
    width: 94%;
    height: 549px;
  }
  @media (min-width:1366px){
    width: 90%;
    height: 600px;
  }
  @media (min-width:1480px){
    width: 85%;
    height: 600px;
  }
  @media (min-width:1560px){
    width: 75%;
    height: 580px;
  }
  @media (min-width:1700px){
    width: 65%;
    height: 570px;
  }

  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 999999;
  display: block;
  width: 97%;
  background-size: cover;
  height: 100%;
  background-position: center;

  .controls{
    div:not(:first-child){
      @media (max-width:978px){
        margin-left: 20px;
      }
      margin-left: 30px;
    }
    div:not(:last-child){
      &::after{
        @media (min-width:978px){
          height: 110px;
        }
        content: '';
        width: 1px;
        background-color: #9b7d94;
        height: 50px;
        position: absolute;
        left: 110%;
        top: 50%;
        transform: translate(-50%, -50%);
        // border-radius: 50%;
      }
    }
    > div.active{
      background: #EF623B;
      // opacity: 1;
    }

    > div{
      @media (min-width:978px){
        height: 110px;
        width: 158px;
        padding: 25px;
      }
      height: 50px;
      width: 93px;
      cursor: pointer;
      background: #9b7d94;
      padding: 15px;
      border-radius: 10px;
      // opacity: 0.25;
      &:hover{
        background: #EF623B;
        // opacity: 1;
      }
      
    }
  }

 
    @media (max-width: 978px) {
      .matches-slider .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.7);
        .match-details{
          display: none;
        }
      }
      .matches-slider .swiper-slide-active {
        .match-details{
          width: 200px;
        }
        transform: scale(1);
      }
  }
}

.player-movement-box{
  @media (min-width:978px){
    clip-path: polygon(8% 0, 88% 0, 94% 50%, 100% 100%, 0 100%, 0 10%);
  }
  position: relative;
  background: rgb(237,98,61);
  padding: 15px;
  background: linear-gradient(90deg, rgba(237,98,61,1) 0%, rgba(158,95,110,1) 53%, rgba(106,92,143,1) 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 5%);

  .player-image{
    @media (max-width:978px){
      height: 150px;
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.step-title{
  @media (max-width:978px){
    min-height: 270px;
  }
  @media (min-width:978px){
    clip-path: polygon(3% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 14%);
    padding-bottom: 5px;
    &:after{
      width: 2px;
      height: 60%;
      left: 48%;
      content: '';
      position: absolute;
      background: #ead8d8;
      transform: translateX(-50%);
    }
  }
  position: relative;
  background: rgb(237,98,61);
  background: linear-gradient(90deg, rgba(237,98,61,1) 0%, rgba(158,95,110,1) 53%, rgba(106,92,143,1) 100%);
  clip-path: polygon(7% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 10%);
  padding-bottom: 15px;

  .step-title-text{
    @media (max-width:978px){
      &:after{
        width: 40%;
        height: 2px;
        left: 50%;
        content: '';
        position: absolute;
        background: #ead8d8;
        transform: translateX(-50%);
        bottom: -12px;
      }
    }
  }

  .ball-image{
    @media (max-width:978px){
      height: 80px;
      width: 150px;
    }
  }
}
#radarChart{
  @media (max-width:978px){
    width: 200px;
    height: 200px;
  }
  width: 300px;
  height: 300px;
}

.outer-circle{
  @media (max-width:978px){
    // margin-top: 50px !important;
    width: 200px;
    height: 200px;
  }
  width: 300px;
  height: 300px;
}

#myCanvas{
  position: absolute;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#radarChart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.timeline-slide{
  cursor: pointer;
  @media (min-width:978px){
    &:before{
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 60%;
      transform: translateY(-50%);
      background-color: #ffffff;
      width: 100%;
      height: 5px;
      cursor: pointer;
    }
    &:after{
      content: "";
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 25px;
      border: 1px solid #ddd;
      position: absolute;
      top: 60%;
      transform: translate(-50%,-50%);
      left: 50%;
      transition: all 200ms ease-in;
      cursor: pointer;
    }
  }


}



#numberOfAnalysis{
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #d9d9d942;
  .analysis-text{
    @media (min-width:978px){
      position: absolute;
    }
    position: relative;
    right: 15px;
  }

  .progress{
    @media (max-width:977px){
      height: 90px !important;
    }
     height: 140px !important;
     width: 100%;
     background-color: #979295;
  }

}


.player-box.avatar
{
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
  margin: auto 5px;
  // border: 2px solid #636363;
	border-radius: 50%;	/* relative value */
	background: #9b7d94;
	transition: linear 0.25s;
  height: 40px;
  width: 40px;

  img{
    border-radius: 50%;
  }
  // &:hover{
  //   // transition: ease-out 0.2s;
  //   // border: 4px solid rgba(0,0,0,0.2);
  // }
}


.highlight {
  stroke: yellow;
  stroke-width: 3;
}
.risktext {
  display: none;
}
.label-text {
  font-size: 16px;
  fill: white;
  font-family: Arial, sans-serif;
}

.injury-slide{
  flex-direction: row !important;
}

@media (max-width:977px){
  .section-label{
    font-size: 9px;
  }
}

.info-box
{
  @media (max-width:977px){
    padding: 18px !important;
  }
  @media (min-width:978px){
    background-image: url('../img/info-box.png');
  }
  background-image: url('../img/info-box-mob.png');
  background-size: cover;
  .close-info-box{
    cursor: pointer;
  }
}


.risks-swiper-container{

    .swiper-button-prev,
    .swiper-button-next {
      @media (max-width:977px){
        top: 87%;
      }
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 91.5%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }


    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-family: Arial, sans-serif;
        font-weight: bold;
        content: "«";
        font-size: 40px;
        color: #aca8ac;
    }
    .swiper-button-next::after{
        content: "»";
    }
}